portfolio_block {
    display: inline-flexbox
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: pink;
    width: hidden;
    overflow: hidden;
}

li, a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 10px;
    float: left;
}

li, a.current {
    background: hotpink;
}

li a:hover {
    color: white;
}

li a:active {
    color: blue;
}

img1 {
    display: inline-flexbox;
}

img2 {
    display: right;
}